@font-face {
   font-family: 'helvetica';
   font-display: swap;
   src: url('file:///C:/Users/Salil%20Sharma/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-08_153114/fonts/helvetica/font.ttf');
}
